<% provide(:title, "Beranda") %>

<div class="jumbotron">
  <h1>Portal Karir <b><font color="red">CAR</font><font color="blue">fix</font></b> Indonesia</h1>
  <p>Selamat datang di portal Karir <b><font color="red">CAR</font><font color="blue">fix</font></b> Indonesia</p>
  <p>Bergabung dengan kami dan jadilah tim <b><font color="red">CAR</font><font color="blue">fix</font></b> Indonesia</p>
  <p>Anda bisa melihat <%= link_to "Lowongan", lowongans_path , class: "btn btn-primary" %>
  yang ada</p>
  <p>atau</p>
  <p>Membaca <%= link_to "Pengumuman", pengumumanns_path, class: "btn btn-primary" %></p>
</div>