<% provide(:title, "Tentang CARfix") %>

<div class="jumbotron">
<h1>Tentang <b><font color="red">CAR</font><font color="blue">fix</font></b> Indonesia</h1>
<p><b><font color="red">CAR</font><font color="blue">fix</font></b> Indonesia adalah salah satu lini usaha  
PT. Meka Adipratama yang bergerak dalam jaringan bengkel dan ritel otomotif di Jawa Tengah</p>
</div>