
<%= bootstrap_form_for(@pendidikan) do |f| %>

  <div class="field">
    <%= f.text_field :level_pend, label: "Level Pendidikan" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
