
<%= form_for(@pendidikan) do |f| %>

  <div class="field">
    <%= f.label :level_pend %> : <%= f.text_field :level_pend %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
