<p id="notice"><%= notice %></p>

<p>
  <strong>Level pendidikan:</strong>
  <%= @pendidikan.level_pend %>
</p>

<%= link_to 'Edit', edit_pendidikan_path(@pendidikan) %> |
<%= link_to 'Back', pendidikans_path %>
