<p id="notice"><%= notice %></p>

<p>
  <strong>Level pendidikan:</strong>
  <%= @pendidikan.level_pend %>
</p>

<%= link_to 'Edit', edit_pendidikan_path(@pendidikan), class: "btn btn-primary" %> |
<%= link_to 'Back', pendidikans_path, class: "btn btn-primary" %>
