<% provide(:title, 'Daftar Lamaran') %>
<h1>Daftar Lamaran</h1>
<%= will_paginate  %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nama Pelamar</th>
      <th>Lowongan yang dilamar</th>
      <th>Status</th>
    </tr>
  </thead>
<tbody>
  <% @lamarans.each do |a| %>
  <tr>
    <td><%= link_to a.user.nama, user_profil_path(:user_id => a.user.id) %></td>
    <td><%= a.lowongan.jabatan.nama_jabatan %></td>
    <td><% if a.dipanggil? %>Sudah dipanggil
                    <% else %>Belum dipanggil
                    <% end %></td>
  <tr>
  <% end %>
<%= will_paginate  %>
</tbody>
</table>

