<% provide(:title, 'Daftar Lamaran') %>
<h1>Daftar Lamaran</h1>

<%= will_paginate  @lamarans %>

<ul class="lamarans">
  <% @lamarans.each do |a| %>
    <span><%= link_to a.user.nama, user_profil_path(:user_id => a.user.id) %> 
     | <%= a.lowongan.jabatan.nama_jabatan %>
      | <% if a.dipanggil? %>Sudah dipanggil
                    <% else %>Belum dipanggil
                    <% end %>
    </span></br>
  <% end %>
</ul>

<%= will_paginate @lamarans %>
