<%= form_for(@jabatan) do |f| %>
  
  <div class="field">
    <%= f.label :nama_jabatan %><br>
    <%= f.text_field :nama_jabatan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
