<%= bootstrap_form_for(@jabatan) do |f| %>
  
  <div class="field">
    <%= f.text_field :nama_jabatan %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>
