<p id="notice"><%= notice %></p>

<p>
  <strong>Nama jabatan:</strong>
  <%= @jabatan.nama_jabatan %>
</p>

<%= link_to 'Edit', edit_jabatan_path(@jabatan), class: "btn btn-primary" %> |
<%= link_to 'Back', jabatans_path, class: "btn btn-primary" %>
