<footer class="footer">
  <small>
    Copyright <a href="http://carfix.co.id"><b><font color="red">CAR</font><font color="blue">fix</font></b></a>.2015
  </small>
  <nav>
    <ul>
      <%= link_to image_tag("FB.png", alt: "FB"), 'https://www.facebook.com/CARfixIndonesia', id:"sosmed"  %>
      &nbsp &nbsp
      <%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://twitter.com/carfixindonesia', id:"sosmed"  %>
    </ul>
  </nav>
</footer>